name: Quizila

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: deployer/quizila:latest

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: deployer
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull deployer/quizila:latest
            docker stop quizila || true
            docker rm quizila || true
            docker run -d --name quizila -p 5000:5000 --restart unless-stopped --env-file .env deployer/quizila:latest