name: Quizila

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: deployer/quizila:latest

      - name: Create .env file
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: deployer
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" > /home/deployer/.env
            echo "REDIS_URL=${{ secrets.REDIS_URL }}" >> /home/deployer/.env
            echo "NODE_ENV=production" >> /home/deployer/.env

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: deployer
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull deployer/quizila:latest
            docker stop quizila || true
            docker rm quizila || true
            docker run -d --name quizila -p 127.0.0.1:5000:5000 --restart unless-stopped --env-file /home/deployer/.env deployer/quizila:latest
